$common-styles: (
        border-radius: 10px,
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
        padding: 15px,
        background-color: #fff
) !default;

$common-input : (
        border-radius: 10px,
        padding: 5px,
        color : #000,
)
