* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
    max-width: 960px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #e9ecef;

    &_row {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
